<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch</title>
</head>
<body>
    <br>
    <p class="watch">Watch Video</p>
    <br>
    <div class="video">
        <iframe width="560" height="315" src={{link}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>
<style>
    body {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: radial-gradient(ellipse at bottom, #0D1E31, #111);
        overflow: hidden;
        height: 100vh;
    }

    .video {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .watch {
        font-size: 2rem;
        color: aliceblue;
    }
</style>